// VARIABLES
$firstColor:rgba(0,151,167 ,1);
$secondColor:rgb(4, 148, 167);
$thirdColor:rgba(20, 110, 122, 0.664);
$h2Bg:rgba(38,50,56 ,1);
$greyColor:rgb(107, 104, 104);
$oneEm:1em;
$whiteColor:white;
$breakpoint:(
    mobile:599px,
    tablet:769px
);
@import "./mixins.scss";

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    background-color: white;
}

/*-----------------------------------
            GENERAL
------------------------------------*/
.fas{ //Icones
    font-size: 25px;
    margin-right: 10px;
}
h2{
    color: $firstColor;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}
hr{ //divider section
    color: $firstColor;
}

li{
    list-style-type: none;
  }

 // padding de 1em
 header,
 .education,
 .experience,
 .recommendation,
 .blockLeft__hobbies,
 .blockLeft__paragraph{
     padding:$oneEm;
 }
  
.container{
    width: 70%;
    height: auto;
    display: flex;
    box-shadow: 2px 4px 2px rgb(195, 194, 194);
    border-radius: 10px;
    @include forMobile{
        width: 100%;
        display: block;
        border: none;
      }
      @include forTablet{
          width: 100%;
      }
}

/*-----------------------------------
            left side
------------------------------------*/
.blockLeft{
    background-color: $secondColor;
    width: 30%;
    height: auto;
    &__img{
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        img{
        border-radius: 100%;
        width: 150px;
        height: 150px;
            &:hover{
                border: 2px solid white;
            }
        }
    }
    
    &__heading{
        background-color: $h2Bg;
        text-align: center;
        padding: 0.2em;
        border-radius: 5px;
            &:hover{
                color: white;
            }
    }
    .blockLeft__ul{
        padding: $oneEm;
    }
    li{
        margin-bottom: 20px;
        color: $h2Bg;
    }

    &__paragraph{
        color: $h2Bg;
    }
    .fab, .fa-music, .fa-running, .fa-camera-retro{
        font-size: 25px;
        color: $h2Bg;
        border: 2px solid $h2Bg;
        padding: 0.2em;
        border-radius: 50px;
        cursor: pointer;
            &:hover{
                color: $whiteColor;
            }
        @include forMobile{
            color: $firstColor;
            border: 2px solid $firstColor;
            }
    }

    .fab{
        font-size: 25px;
        color: $h2Bg;
        border: 2px solid $h2Bg;
        padding: 0.2em;
        border-radius: 50px;
        cursor: pointer;
            &:hover{
                color: $whiteColor;
            }
    }
   

    &__hobbies{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
   
    @include forMobile{
        width:100%;
        height: auto;
        position: relative;
        margin-top: 100px;   
        padding-top: $oneEm;
        background: linear-gradient($secondColor, $whiteColor);
    }
}

/*-----------------------------------
            right side
------------------------------------*/

.blockRight{
    width: 70%;
    margin-top: 2%;
    span{
        color: $secondColor;
    }
    h1{
        font-size: 20px;
    }
    h3{
        font-size: 12px;
        color: $greyColor;
        font-weight: bold;
        @include forMobile{
            color: $secondColor;
        }
    }
    h4{
        font-size: 11px;
        color: $greyColor;
        @include forMobile{
            color: $thirdColor;
        }
    }
    p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 10px;
        color: $greyColor;
    }
    .p{
        margin-left: 20px;
        @include forMobile{
            margin: auto;
        }
    }

    .fa-suitcase, .fa-pencil-alt, .fa-award{
        color: $secondColor;
    }

    header{
        .name{
            font-size: 2em;
        }
    
        p{
            font-size: $oneEm;
        }
        .headerDivider{ // trait
            width: 50px;
            color: $secondColor;
            margin-top: 0.5em;
        }

        @include forMobile{
            width: 100%;
            box-sizing: border-box;
            height: 100px;
            margin-top:0px;
            top: 0px;
            left: 0px;
            position: absolute;
            box-shadow: 0 2px 0 grey;
            .name{
                font-size:1.5em;
            }
        }
    }
    @include forMobile{
        width:100%;
        height: auto;
    
        ul{
            display: block;
            padding: 0.5em;
            border: 1px solid rgba(245,245,245 ,1);
            border-radius: 5px;
            box-shadow: 1px 1px $firstColor;
            cursor: pointer;
            &:hover{
                box-shadow: 1px 2px $firstColor;
            }   
        }
    
        header{
            .name{
                font-size: 1.5em;
            }
        
            p{
                font-size: 0.8em;
            }
        }
    }

    .education{ //section education
        height: auto;
        ul{
            display: flex;
            justify-content: space-between;
            margin: 10px;
            @include forMobile{
                display: block;
            }
        }
        .educationLeft{
            width: 60%;
            display: flex;
        }
    }

    .experience{ //section experience
        height: auto;
        ul{
            display: flex;
            justify-content: space-between;
            margin: 10px;
            @include forMobile{
                display: block;
            }
        }
    }
    .experienceLeft{
        width: 60%;
        display: flex;
    }
    .fa-dot-circle, .fa-circle{
        color: $firstColor;
      @include forMobile{
          display:none;
      }
  }
  .fa-dot-circle{
    font-size: 0.6em;
  }

  .fa-circle{
    font-size: 0.5em;
  }


}



.recommendation{ // section recommendations
    height: auto;
    ul{
        display: flex;
        justify-content: space-around;
    }
    li{
        padding: $oneEm;
        color: grey;
    }
}

footer{
    text-align: center;
}



