* {
  margin: 0 auto;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

/*--------GENERAL---------*/
h1 {
  font-size: 18px;
}

h2 {
  color: white;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h3 {
  font-size: 12px;
}

h4 {
  font-size: 11px;
}

p {
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
}

.fas {
  font-size: 25px;
  margin-right: 10px;
}

.divider {
  width: 100%;
  height: 1px;
  background: #0494a7;
  color: #0097a7;
}
@media screen and (max-width: 599px) {
  .divider {
    display: none;
  }
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  color: #0097a7;
  text-decoration: none;
}

.name-mobile, .title-mobile {
  display: none;
}
@media screen and (max-width: 599px) {
  .name-mobile, .title-mobile {
    display: block;
  }
}

header,
footer,
.education,
.experience,
.recommendation,
.blockLeft__hobbies,
.blockLeft__paragraph,
.presentation {
  padding: 1em;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 1em;
}
.container .wrappe {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 599px) {
  .container .wrappe {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 769px) {
  .container .wrappe {
    width: 100%;
  }
}
@media screen and (max-width: 599px) {
  .container {
    padding: 0;
  }
}

.icon {
  width: 10%;
}

/*------left side-------*/
.blockLeft {
  background-color: #0494a7;
  min-height: 97vh;
  flex: 1;
}
.blockLeft__img {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  padding: 1em;
}
.blockLeft__img img {
  border-radius: 100%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.blockLeft__img img:hover {
  border: 1px solid white;
}
.blockLeft__heading {
  background-color: #263238;
  text-align: center;
  padding: 0.5em;
}
.blockLeft__heading:hover {
  color: white;
}
.blockLeft ul {
  padding: 1em;
}
.blockLeft li {
  margin-bottom: 20px;
}
.blockLeft p {
  color: white;
}
.blockLeft .fab {
  font-size: 20px;
  color: white;
}
.blockLeft__hobbies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 599px) {
  .blockLeft {
    flex: 1;
    padding-top: 1em;
    height: auto;
  }
}

/*-----------right side---------*/
.blockRight {
  flex: 3;
}
.blockRight span {
  color: #0494a7;
}
.blockRight h3 {
  color: #6b6868;
  font-weight: bold;
}
@media screen and (max-width: 599px) {
  .blockRight h3 {
    color: #0494a7;
  }
}
.blockRight h2 {
  color: #0097a7;
}
.blockRight h4 {
  color: #6b6868;
}
@media screen and (max-width: 599px) {
  .blockRight h4 {
    color: rgba(20, 110, 122, 0.664);
  }
}
.blockRight p {
  color: #6b6868;
}
.blockRight .p {
  margin-left: 20px;
}
@media screen and (max-width: 599px) {
  .blockRight .p {
    margin: auto;
  }
}
.blockRight .fa-suitcase, .blockRight .fa-pencil-alt, .blockRight .fa-award {
  color: #0494a7;
}
.blockRight header .name {
  font-size: 2em;
}
.blockRight header p {
  font-size: 1em;
}
.blockRight header .headerDivider {
  width: 50px;
  height: 2px;
  background: #0494a7;
  margin-top: 0.8em;
}
@media screen and (max-width: 599px) {
  .blockRight header .headerDivider {
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 599px) {
  .blockRight header {
    width: 100%;
    box-sizing: border-box;
    height: auto;
  }
  .blockRight header .name {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 599px) {
  .blockRight {
    width: 100%;
    height: auto;
  }
  .blockRight ul {
    display: block;
    padding: 0.5em;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 1px 1px #0097a7;
    cursor: pointer;
  }
  .blockRight ul:hover {
    box-shadow: 1px 2px #0097a7;
  }
  .blockRight header .name {
    font-size: 1.5em;
  }
  .blockRight header p {
    font-size: 0.8em;
  }
}
.blockRight .presentation li {
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
  color: #6b6868;
}
.blockRight .education, .blockRight .experience {
  height: auto;
}
.blockRight .education ul, .blockRight .experience ul {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}
@media screen and (max-width: 599px) {
  .blockRight .education ul, .blockRight .experience ul {
    display: block;
  }
}
.blockRight .education .educationLeft, .blockRight .education .experienceLeft, .blockRight .experience .educationLeft, .blockRight .experience .experienceLeft {
  margin-right: 30px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: start;
}
@media screen and (max-width: 599px) {
  .blockRight .education .educationLeft, .blockRight .education .experienceLeft, .blockRight .experience .educationLeft, .blockRight .experience .experienceLeft {
    width: 100%;
    margin-bottom: 10px;
  }
}
.blockRight .education .educationRight, .blockRight .education .experienceRight, .blockRight .experience .educationRight, .blockRight .experience .experienceRight {
  flex: 3;
  text-align: left;
}
@media screen and (max-width: 599px) {
  .blockRight .education .educationRight, .blockRight .education .experienceRight, .blockRight .experience .educationRight, .blockRight .experience .experienceRight {
    width: 100%;
  }
}
.blockRight .fa-dot-circle, .blockRight .fa-circle {
  color: #0097a7;
}
@media screen and (max-width: 599px) {
  .blockRight .fa-dot-circle, .blockRight .fa-circle {
    display: none;
  }
}
.blockRight .fa-dot-circle {
  font-size: 0.6em;
}
.blockRight .fa-circle {
  font-size: 0.5em;
}

.recommendation ul {
  padding: 1em;
}

footer {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
