// VARIABLES
$firstColor:rgba(0,151,167 ,1);
$secondColor:rgb(4, 148, 167);
$thirdColor:rgba(20, 110, 122, 0.664);
$h2Bg:rgba(38,50,56 ,1);
$greyColor:rgb(107, 104, 104);
$oneEm:1em;
$whiteColor:white;
$breakpoint:(
    mobile:599px,
    tablet:769px
);
@import "./mixins.scss";

*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

/*--------GENERAL---------*/
h1{
    font-size: 18px;
}
h2{
    color: $whiteColor;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
h3{
    font-size: 12px;
}
h4{
    font-size: 11px;
}
p {
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
}
.fas{ //Icones
    font-size: 25px;
    margin-right: 10px;
}
.divider{ //divider section
    width: 100%;
    height: 1px;
    background: $secondColor;
    color: $firstColor;
    @include forMobile {
        display: none;
    }
}

li{
    list-style-type: none;
}

a {
    color: inherit;
    color: $firstColor;
    text-decoration: none;
}

 // padding de 1em
 header, 
 footer, 
 .education,
 .experience,
 .recommendation,
 .blockLeft__hobbies,
 .blockLeft__paragraph, 
 .presentation{
     padding:$oneEm;
 }
  
.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: $oneEm;
    .wrappe {
        max-width: 1100px;
        display: flex;
        justify-content: space-between;
        @include forMobile{
            width: 100%;
            display: block;
          }
          @include forTablet{
              width: 100%;
          }
    }
    @include forMobile {
        padding: 0;
    }
}

.icon{
    width: 10%;
}

/*------left side-------*/
.blockLeft{
    background-color: $secondColor;
    min-height: 97vh;
    flex: 1;
    &__img{
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        padding: $oneEm;
        img{
        border-radius: 100%;
        width: 120px;
        height: 120px;
        object-fit: cover;
            &:hover{
                border: 1px solid white;
            }
        }
    }
    
    &__heading{
        background-color: $h2Bg;
        text-align: center;
        padding: 0.5em;
            &:hover{
                color: white;
            }
    }
    ul{
        padding: $oneEm;
    }
    li{
        margin-bottom: 20px;

    }

    p{
        color: $whiteColor;
    }
 

    .fab{
        font-size: 20px;
        color: $whiteColor;
    }
   
    &__hobbies{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
   
    @include forMobile{
        flex: 1;
        padding-top: $oneEm;
        height: auto;
    }
}

/*-----------right side---------*/
.blockRight{
    flex: 3;
    span{
        color: $secondColor;
    }
    h3{
        color: $greyColor;
        font-weight: bold;
        @include forMobile{
            color: $secondColor;
        }
    }
    h2 {
        color: $firstColor;
    }
    h4{
        color: $greyColor;
        @include forMobile{
            color: $thirdColor;
        }
    }
    p{
        color: $greyColor;
    }
    .p{
        margin-left: 20px;
        @include forMobile{
            margin: auto;
        }
    }

    .fa-suitcase, .fa-pencil-alt, .fa-award{
        color: $secondColor;
    }

    header{
        .name{
            font-size: 2em;
        }
    
        p{
            font-size: $oneEm;
        }
        .headerDivider{ // trait
            width: 50px;
            height: 2px;
            background: $secondColor;
            margin-top: 0.8em;
            @include forMobile{
                margin-bottom: 1em;
            }
        }

        @include forMobile{
            width: 100%;
            box-sizing: border-box;
            height: auto;
            .name{
                font-size:1.5em;
            }
        }
    }
    @include forMobile{
        width:100%;
        height: auto;
    
        ul{
            display: block;
            padding: 0.5em;
            border: 1px solid rgba(245,245,245 ,1);
            border-radius: 5px;
            box-shadow: 1px 1px $firstColor;
            cursor: pointer;
            &:hover{
                box-shadow: 1px 2px $firstColor;
            }   
        }
    
        header{
            .name{
                font-size: 1.5em;
            }
        
            p{
                font-size: 0.8em;
            }
        }
    }

    .presentation {
        li{
            font-family: 'Times New Roman', Times, serif;
            font-size: 10px;
            color: $greyColor;
        }
    }

    .education, .experience{ //section education
        height: auto;
        ul{
            display: flex;
            justify-content: flex-start;
            margin: 10px;
            @include forMobile{
                display: block;
            }
        }
        .educationLeft, .experienceLeft{
            margin-right: 30px;
            flex: 1;
            display: flex;
            align-items: flex-start;
            justify-content: start;
            @include forMobile{
                width: 100%;
                margin-bottom: 10px;
            }
        }
        .educationRight, .experienceRight{
            flex: 3;
            text-align: left;
            @include forMobile{
                width: 100%;
            }
        }
    }


    .fa-dot-circle, .fa-circle{
        color: $firstColor;
      @include forMobile{
          display:none;
      }
  }
  .fa-dot-circle{
    font-size: 0.6em;
  }

  .fa-circle{
    font-size: 0.5em;
  }

}
.recommendation{ // section recommendations
   ul {
    padding: $oneEm;
   }

}

footer{
    text-align: center;
}



