.contact-form {
    align-self: center;
    margin: 30px auto auto;
    max-width: 800px;
    width: 90%;
    padding: 30px;
    background: #000000ad;
    label {
        visibility: hidden;
    }

    ::placeholder {
        color: #FFF;
        font-size: 16px;
    }

    input, textarea {
        width: 90%;
        padding: 1em;
        background: none;
        border: none;
        border-bottom: 2px solid #FFF;
        color: #FFF;
        font-size: 20px;
    }

    button {
        margin-top: 20px;
    }
}