@use "../../style.scss";

.sidebar {
    background-color:#333;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;

    .infobox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    
}