.achievements__item {
    padding: 2em 1em;
    margin-bottom: 20px;
    min-width: 200px;
    max-width: 220px;
    
    img {
        width: 220px;
        height: 150px;
        object-fit: cover;
        filter: grayscale(100%);
    }
    .urls {
        a {
            font-size: 16px;
            margin-right: 10px;
        }
    }
    .categories {
        display: flex;
        gap: 10px;
        span {
            font-size: 8px;
            display: inline;
            padding: 3px 10px;
            border-radius: 20px;
            background: #eb2f64;
        }
    }
    p{
        font-size: 12px;
        letter-spacing: 0;
    }
}