.contact {
    background-image: url('../../assets/images/bgimg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
    min-height: 25rem;
    .mail-address {
        color: var(--white);
    }
    .btn-actions {
        width: 100%;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .btn-download {
            background: transparent;
            color: var(--white);
            border: 2px solid var(--white);
        }
    }
}