.contact {
    max-width: 600px;
    &__divider {
        height: 2px;
        width: 50px;
        background: #eb2f64;
        margin: 2em 0;
    }
    &__content {
        &--icons {
            display: flex;
            gap: 10px;
            .icon {
                font-size: 30px;
            }
        }
    }
}