
.sidebar {
    background-color:#333;
    color: #FFF;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);

 

    &__iconmenu {
       //display: none;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        .icon {
            font-size: 30px;
            color: $firstColor;
        }

    @include forMobile {
        display: block;
    }
    }

    .infobox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 1rem;
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
        &__name {
            font-weight: 300;
        }
        &__socialmedia {
            display: flex;
            li {
                margin: 0 5px;
                .icon {
                    font-size: 18px;
                }
            }
        }
    }
    
.side-nav {
    font-size: 1.4rem;
    list-style: none;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;

        }

        span {
            margin-left: 10px;
        }

    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: $firstColor;
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s,
                    background-color .1s;
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: $firstColor;
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;

    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
    }
}

    .legal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        p {
            margin-top: 10px;
            font-size: 10px;
            text-align: center;
            font-weight: 200;
        }
    }

    @include forMobile {
       position: absolute;
        height: 100vh;
        top: 0;
        left: 0;
    }
    
}
