
.nav-links {
    display: none;
    
  }
  .nav {
    width: 100%;
    height: 5rem;
    display: flex;
    padding: 1rem 0;
    -webkit-box-align: center;
    align-items: center;
    justify-items: center;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .nav-center {
    width: 92%;
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .nav-logo {
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    align-items: center;
    margin-left: -20px;
  }

  .menu-burger {
    display: grid;
    align-items: center;
    justify-items: end;
    cursor: pointer;
   
    .icon {
      width: 30px;
      height: 1px;
      background-color: transparent;
      margin: 10px 0;
      display: inline-block;
      transition: all 0.1s ease-in-out;
    }
    .icon:before,
    .icon:after {
      content: "";
      width: 30px;
      height: 1px;
      background-color: var(--white);
      position: absolute;
      transition: all 0.1s ease-in-out;
    }
    .icon:before {
      transform: translateY(-5px);
    }
    .icon:after {
      transform: translateY(5px);
    }

    &:hover .icon {
      background-color: var(--white);
    }
    &:hover .icon:before {
      transform: translateY(-8px);
    }
    &:hover .icon:after {
      transform: translateY(8px);
    }
  }
  

  

  @media screen and (min-width: 768px) {
    .nav {
      background: var(--clr-primary);
    }
    .menu-burger {
      display: none;
    }
    .nav-links {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
      column-gap: 2rem;
      justify-self: end;
    }
    .nav-links a {
      text-transform: capitalize;
      color: var(--white);
      letter-spacing: var(--spacing);
      -webkit-transition: var(--transition);
      transition: var(--transition);
    }

    .nav-center {
      display: grid;
      grid-template-columns: auto 1fr;
      -webkit-box-align: center;
      align-items: center;
    }
  }
  /* fixed navbar */
  .navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    z-index: 2;
    box-shadow: var(--light-shadow);
  }
