
.sidebar {
    background-color: var(--clr-grey);
    color: var(--white);
    min-width: 250px;
    height: 100%;
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: -100%;
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    &__wrappe {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-height: 900px;
            height: 100%;
        }

    
.side-nav {
    font-size: 1.4rem;
    list-style: none;

    .item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;

        }

        span {
            margin-left: 10px;
        }

    }

    .item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--white);
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s,
                    background-color .1s;
    }

    .item:hover::before,
    .item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    .item:active::before {
        background-color: var(--white);
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10;
        text-align: center;

    }

    .icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
    }
}


    
}

.active {

    left: 0;
    transition: 350ms;

}

